body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
}

#flag {    
    margin: 10px;
    width: 200px;
    height: 100px;
}


.formCountry {
    background-color: rgb(218, 217, 217);
    border: 0.0000005px solid gray;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.inputCountry {
    background-color: rgb(244, 244, 244);
    border: 0.0000005px solid rgb(211, 211, 211);
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.informationCountry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}